<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hey</title>
</head>
<body>
	<h1>Hello!</h1>
	<ul>
		<li><b>Hostname</b>: <%- hostname %></li>
		<li><b>Remote IP</b>: <%- remote %></li>
		<li><b>HTTP Host</b>: <%- host %></li>
	</ul>
</body>
</html>
