<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hey</title>
</head>
<body>
<pre style="margin-top: 2em; margin-left: 5em; font-size: 1.5em;">
<%- say %>
</pre>
<p style="display: none;">ANIMAL: <%- animal %></p>
</body>
</html>
